@import "../StyleVariables/mainVariables.scss";

* {
  scroll-padding-top: 6rem;
}

:root {
  background: linear-gradient(to top right, rgb(19, 40, 69), rgb(112, 79, 165));
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-background: #1f2023;
//     --color-foreground: #efefef;
//   }
// }

// body {
//   background-color: var(--color-background);
//   color: var(--color-foreground);
// }

.Content {
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: block;
  font-family: $text-style;
  text-align: center;
  padding-bottom: 2.5rem;
  min-height: 90vh;

  &.MainContent {
    margin-top: 5rem;
    margin-left: 0;
    margin-right: 0;
    display: block;
    font-family: $text-style;
    text-align: center;
    padding-bottom: 2.5rem;
    min-height: 90vh;
    color: white;
  }

  .HeaderGrid {
    display: grid;
    grid-template-columns: 1fr 1fr; // Deux colonnes, une pour la section Articles et une pour le h1
    grid-gap: 20px; // Espace entre les colonnes
    align-items: center; // Centrer verticalement les éléments
  }

  .h1_color {
    font-size: 60px;
    font-style: italic;
    text-align: left;
    background: linear-gradient(270deg, #fa6f0b -10.8%, #ce2bd3 110.51%);
    background-clip: text; /* Appliquer le dégradé au texte seulement */
    color: transparent; /* Rendre le texte transparent */
  }

  .Title_main {
    font-style: normal;
    font-size: 50px;
    text-align: left;
  }

  .h1_text_span {
    font-size: 30px;
  }

  .h1_text {
    font-weight: bold;
    font-style: italic;
    font-size: 55px;
  }

  .h2_color {
    font-size: 50px;
    font-style: italic;
    text-align: left;
    background: linear-gradient(270deg, #fa6f0b -10.8%, #ce2bd3 110.51%);
    background-clip: text; /* Appliquer le dégradé au texte seulement */
    color: transparent; /* Rendre le texte transparent */
  }

  .h2_text {
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    text-align: center;
  }

  button {
    background: linear-gradient(270deg, #fa6f0b -10.8%, #ce2bd3 110.51%);
    color: white;
    padding: 5px 15px;
    outline: 0;
    text-transform: uppercase;
    margin: 10px 0px;
    cursor: pointer;
    width: auto; /* Ajuster la largeur automatiquement en fonction du texte */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid transparent; /* Ajouter une bordure transparente */
    font-size: 20px; /* Ajuster la taille du texte selon vos besoins */
  }

  .content {
    display: flex; /* Utiliser le modèle de boîte flexible pour les éléments enfants */
    align-items: center; /* Centrer verticalement les éléments enfants */
    margin-top: 15px;
    margin-left: 150px;
  }

  .InstagramBanner {
    display: flex; /* Utiliser flexbox pour aligner les éléments */
    align-items: center; /* Centrer verticalement */
  }
  
  .instagram {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 10px; /* Ajouter une marge à droite de l'image pour l'espace entre l'image et le texte */
    height: 50px;
  }
  
  .Instagram_text {
    font-size: 23px;
    font-weight: bold;
    margin-top: 40px; /* Supprimer la marge supérieure */
    background: linear-gradient(270deg, #3d4384 0%, #2764b8 100%);
    background-clip: text;
    color: transparent;
    height: 50px; /* Définir la hauteur */
  }  
  
  .ContentImg {
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .Banner {
    display: block;
    width: 100%;
    height: auto;
  }

  .ArticleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    max-width: 90%;
  }

  .ArticlesWrapper {
    width: 600px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 20px;
    
    // border: 12px solid;
    border-image: linear-gradient(to right, #ff8a00, #e52e71);
    border-image-slice: 1;
    border-radius: 15px; /* Ajustez la valeur pour arrondir davantage ou moins */
    background: linear-gradient(to bottom, #e52e71, #ff8a00);
    overflow: hidden; // Ajout de la propriété overflow

    .Art {
      background-position: center;
      display: flex;
      position: relative;
      align-items: flex-end;
      justify-content: center;
      background-size: cover;
      overflow: hidden;
      background-color: #f2f3f5;
    }

    .Art:hover .ArtContent {
      transform: translateY(0);
    }

    .ArtContent {
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;
    }

    .hidden {
      display: none;
    }

    .Art:hover .hidden {
      display: block;
    }

    .Art1 {
      background-image: url(../../assets/Articles/bg-Art1.jpg);
    }

    .Art2 {
      background-image: url(../../assets/Articles/bg-Art2.jpg);
    }

    .Art3 {
      background-image: url(../../assets/Articles/bg-Art3.jpg);
    }

    .Art4 {
      background-image: url(../../assets/Articles/bg-Art4.jpg);
    }

    .ArtPresentation {
      background-image: url(../../assets/Articles/bg-Art5.jpg);
    }

    .ArtQuiz {
      background-image: url(../../assets/Articles/bg-Art6.jpg);
    }

    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    .ArtContent {
      content: "";
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
      color: white;
      padding-bottom: 2rem;
      text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
      background-color: $dark-blue25;
      width: 100%;

      h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      p {
        text-align: center;
        color: rgb(236, 236, 236);
        margin: 0;
        font-size: 1.25rem;
      }
    }

    .Art::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark-blue25;
      z-index: 1;
    }

    .Art:hover::after {
      background-color: $dark-blue50;
      transition: all 0.2s ease-in-out;
    }

    .Art:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.25);
    }
  }

  // h1 {
  //   font-size: 45px;
  //   // text-align: center;
  // }

  h2 {
    text-align: left;
  }

  p {
    text-align: justify;
    font-size: 1.25rem;
  }

  .Summary {
    color: darkblue;
    list-style-type: disc;
    font-size: 1.25rem;
    text-align: left;
  }

  .CategoryContent {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .GridContainer {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2rem;
    place-items: center;
  }

  .ArticleList {
    font-size: 1.25rem;
    list-style-type: none;
    text-align: justify;

    li {
      margin-bottom: 1rem;
      margin-top: 1rem;
    }
  }

  #choixPromo {
    width: 220px;
    height: 40px;

    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 14px;
    background-color: #f0f0f0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
  }

  .ChoixPromoCenter {
    text-align: center;

    p,
    select {
      text-align: center;
    }
  }

  .PromoWrapper {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
    padding: 1rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

    .PromoItem {
      aspect-ratio: 0.67/1;
      position: relative;
      padding: 1rem;
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      text-align: center;
      background-color: #dfe7fd;
    }

    .PromoItem:nth-child(n + 5) {
      background-color: #fde2e4;
    }

    .PromoItem::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 0 0;
      transition: height 1s;
    }

    .PromoItem:nth-child(1):before {
      background-image: url(../../assets/Promo/1.png);
    }

    .PromoItem:nth-child(2):before {
      background-image: url(../../assets/Promo/2.png);
    }

    .PromoItem:nth-child(3):before {
      background-image: url(../../assets/Promo/3.png);
    }

    .PromoItem:nth-child(4):before {
      background-image: url(../../assets/Promo/4.png);
    }

    .PromoItem:nth-child(5):before {
      background-image: url(../../assets/Promo/5.png);
    }

    .PromoItem:nth-child(6):before {
      background-image: url(../../assets/Promo/6.png);
    }

    .PromoItem:hover::before {
      height: 110%;
      transition: height 0.5s;
    }
  }

  .PromoItem::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    transform: translateY(0);
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.009) 11.7%,
      rgba(0, 0, 0, 0.034) 22.1%,
      rgba(0, 0, 0, 0.072) 31.2%,
      rgba(0, 0, 0, 0.123) 39.4%,
      rgba(0, 0, 0, 0.182) 46.6%,
      rgba(0, 0, 0, 0.249) 53.1%,
      rgba(0, 0, 0, 0.32) 58.9%,
      rgba(0, 0, 0, 0.394) 64.3%,
      rgba(0, 0, 0, 0.468) 69.3%,
      rgba(0, 0, 0, 0.54) 74.1%,
      rgba(0, 0, 0, 0.607) 78.8%,
      rgba(0, 0, 0, 0.668) 83.6%,
      rgba(0, 0, 0, 0.721) 88.7%,
      rgba(0, 0, 0, 0.762) 94.1%,
      rgba(0, 0, 0, 0.79) 100%
    );
  }

  .PromoItem:hover::after {
    transform: translateY(-40%);
    transition: transform 0.5s ease-in-out;
  }

  .PromoItemContent {
    content: "";
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    color: whitesmoke;

    h2 {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      margin: 0;
    }
  }

  .PromoItem:hover {
    .PromoItemContent {
      transform: translateY(20rem);
      transition: transform 0.5s ease-in-out;
    }
  }
}

//Design quiz

.conteneur-rectangle {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

.conteneur-boutton {
  display: flex;
  flex-direction: column; /* Les boutons seront empilés verticalement */
  margin-top: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
}

.rectangle {
  width: 600px;
  height: 200px;
  background-color: orange;
  margin: auto;
  border-radius: 5%;
}

.conteneur-rond {
  position: relative;
  width: 200px;
  height: 200px;
}

.rond {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trait {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: black;
  top: 50%;
  transform: translateY(-1px);
}

//Fin du design quizz

@media (min-width: 900px) {
  .Content {
    .ArticlesWrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-rows: minmax(300px, auto);
      grid-auto-columns: minmax(300px, auto);
    }
  }

  
}

@media (min-width: 1500px) {
  .Content {
    .ArticlesWrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-auto-rows: minmax(300px, auto);
    }

    .PromoWrapper {
      grid-template-columns: repeat(3, 1fr);
    } 

    .ArticleImg {
      max-width: 60%;
    }
  }
}